<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><b>Welcome <%= user.displayName %>!</b></p>
    <div class="profile-info">
	    <p><b>Your Access Token is:</b></p>
	    <p><%= access_token %></p>
	    <p><b>Your ID Token is:</b></p>
	    <p><%= id_token %></p>
	</div>
    <a href="/login" class="btn">Log In</a>
  </body>
</html>